.social {
    display: flex;
    max-width: 270px;
    justify-content: space-between;
    align-items: center;
}

.social img {
    box-sizing: border-box;
    display: flex;
    width: 42px;
    height: 42px;
}

.social img:hover {
    background-color: #b3dcff;
    border: #000000 1px solid;
}