.nav {
    grid-area: nav;
    padding: 10px 0 0 10px;
    background-color: #b3dcff;
}

.item {
    margin-bottom: 5px;
}

.item:last-child {
    margin: 30px 0 0;
}

.item a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    transition: color 0.2s;
}

a:hover {
    color: #ec5441;
}

.item a.active {
    font-size: 20px;
    color: #ec5441;
}